program/__pycache__/*
shell/train_0.sh
runs/*
.vscode/*
shell/*
temp.py
log/*/json/*.json
log/*/dict/*
log/*/model/*
~/*
log/*/*/json/*.json
log/*/*/dict/*
log/*/*/model/*
*.csv
transformers/*

analysis/*/*/*/*/*/*/*/*/*/*.json
analysis/*/*/*/*/*/*/*/*/*.json
analysis/*/*/*/*/*/*/*/*/*/*.c
analysis/*/*/*/*/*/*/*/*/*.c

log/*/*/*/*/*/*
log/*/*/*/*/*

log_*/*/*/*/*/*/*
log_*/*/*/*/*/*

