program/__pycache__/*
runs/*
.vscode/*
shell/
temp.py
log/*/json/*.json
log/*/dict/*
log/*/model/*
log/*/*/json/*.json
log/*/*/dict/*
log/*/*/model/*

analysis/*/*/*/*/*/*/*/*/*/*.json
analysis/*/*/*/*/*/*/*/*/*.json
analysis/*/*/*/*/*/*/*/*/*/*.c
analysis/*/*/*/*/*/*/*/*/*.c

log/*/*/*/*/*/*
log/*/*/*/*/*

log_*/*/*/*/*/*/*
log_*/*/*/*/*/*


env/
analysis_*/
data/
